<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DailyLogAndTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DailyLogAndTracker.Properties.Settings>
            <setting name="Calories" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Carbohydrates" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Protiens" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Fibres" serializeAs="String">
                <value>0</value>
            </setting>
        </DailyLogAndTracker.Properties.Settings>
    </userSettings>
</configuration>